<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="cart.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="product_div">
          <h2 class="product">product</h2>
        </div>
        <div class="name_div">
          <h2 class="name">name</h2>
        </div>
        <div class="price_div">
          <h2 class="price">price</h2>
        </div>
        <div class="quantity_div">
          <h2 class="quantity">quantity</h2>
        </div>
        <div class="total_div">
          <h2 class="total">total</h2>
          
        </div>
      </div>
      <div class="product-container">
        <div class="products">

        </div>
      </div>
      <div class="buy_now-div">
        <a href="checkoutaddtocart"><button class="buy_now">BUY NOW</button></a>
      </div>
    </div>
    <script src="cart.js"></script>
  </body>
</html>
