<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
    <link rel="stylesheet" href="livingroom.css" />
  </head>
  <body>
    <header class="header_container">
      <div class="header_logo">
        <h2 class="head_logo">
          <span class="logo_span">C</span>osy<span class="logo_span">N</span>est
        </h2>
      </div>
      <div class="heaer_nav">
        <ul class="nav_list">
          <li class="items">HOME</li>
          <a href="#shop"> <li class="items">SHOPE</li></a>
          <li class="items">ABOUT US</li>
          <li class="items">CONTACT US</li>
          <a href="cart"> <li class="items">CART</li></a>
          <li class="items">PROFILE</li>
        </ul>
      </div>
    </header>
    <div class="positionfixed">
      <a href="cart"
        ><div class="addTocart">
          <img src="cart.png" alt="" class="icon_cart" />
          <span id="productCount" class="productCount">0</span>
        </div></a
      >
    </div>
    <div id="product-container" class="product-container"></div>
    <footer class="footer">
      <h2 class="head_logo footer_logo">
        &copy; <span class="logo_span">C</span>osy<span class="logo_span"
          >N</span
        >est
      </h2>
      <div class="footer-content">
        <div class="row-1">
          <h3>BEDROOM</h3>
          <ul class="footer-links">
            <li class="links"><a href="#" class="links">Home</a></li>
            <li class="links"><a href="#" class="links">Shop</a></li>
            <li class="links"><a href="#" class="links">About Us</a></li>
            <li class="links"><a href="#" class="links">Contact</a></li>
          </ul>
        </div>
        <div class="row-1">
          <h3>KITCHEN</h3>
          <ul class="footer-links">
            <li class="links"><a href="#" class="links">Home</a></li>
            <li class="links"><a href="#" class="links">Shop</a></li>
            <li class="links"><a href="#" class="links">About Us</a></li>
            <li class="links"><a href="#" class="links">Contact</a></li>
          </ul>
        </div>
        <div class="row-1">
          <h3>LIVINGROOM</h3>
          <ul class="footer-links">
            <li class="links"><a href="#" class="links">Home</a></li>
            <li class="links"><a href="#" class="links">Shop</a></li>

            <li class="links"><a href="#" class="links">About Us</a></li>
            <li class="links"><a href="#" class="links">Contact</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <script src="livingroom.js"></script>
  </body>
</html>
