<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="placeorder.css" />
  </head>
  <body>
    <marquee behavior="scrol" direction="left" class="marquee"
      >Order Today, Grow Tomorrow: Planting Trees with Every Purchase!</marquee
    >
    <div id="video-background">
      <video autoplay loop muted playsinline>
        <source src="181175-865745742_small.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
    <form action="/makepayment" method="post">
      <div class="container">
        <div class="address_heading">
          <h2>SHIPPING ADDRESS</h2>
        </div>
        <div class="shipping_address">
          <h3 class="address" id="address"></h3>
        </div>
        <div class="product_img">
          <img
            src="finalbeigethreeseater.jpg"
            alt=""
            class="sofa_img"
            id="sofa_img"
          />
        </div>
        <div class="product_name">
          <h1 class="sofa_name" id="sofa_name"></h1>
        </div>
        <div class="total_heading">
          <h2>TOTAL SUMMARY</h2>
        </div>
        <div class="item_lable">
          <h3>ITEMS</h3>
        </div>
        <div class="item_cost">
          <h3>25000</h3>
        </div>
        <div class="delivery_lable">
          <h3>DELIVERY</h3>
        </div>
        <div class="delivery_cost">
          <h3>1200</h3>
          c
        </div>
        <div class="total_lable">
          <h3>TOTAL</h3>
        </div>
        <div class="total_cost">
          <h3>26200</h3>
        </div>
        <div class="btn_placeorder">
          <button class="btn_payandorder" type="submit">
            PAY AND PLACE ORDER
          </button>
        </div>
      </div>
    </form>
    <script src="placeorder.js"></script>
  </body>
</html>
